{% extends 'base.html.twig' %}

{# MAIN CONTENT #}
{% block body %}

    {#TITLE PAGE#}

    <!-- Page Header -->
    <div class="page-header row no-gutters py-4" id="page-heading">

        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Vue sur....</span>
            <h3 class="page-title">Ma recherche :  XXXX  </h3>
        </div>

    </div>
    <!-- End Page Header -->

    <!-- Default Light Table -->
    <div class="row" id="page-content">
        <div class="col">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Les Films</h6>
                </div>
                <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0">
                        <thead class="bg-light">
                        <tr>
                            <th scope="col" class="border-0">#</th>
                            <th scope="col" class="border-0">Année</th>
                            <th scope="col" class="border-0">Titre</th>
                            {#<th scope="col" class="border-0">Réalisateur</th>#}
                            <th scope="col" class="border-0">Id IMDB</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key,movie in movies %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ movie.Year }}</td>
                                <td><a href="{{ url('the-film',{'id' : movie.imdbID}) }}"> {{ movie.Title }}</a></td>
                                {#<td>{{ movie.Author }}</td>#}
                                <td>{{movie.imdbID}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End Default Light Table -->

    <div class="row movie-row" id="page-content-spec">

        {% for key,movie in movies %}
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card card-small card-post card-post--1">
                <div class="card-post__image" style="background-image: url('{{ movie.Poster }}');">
                    <a href="#" class="card-post__category badge badge-pill badge-dark">{{ movie.Year }}</a>
                    <div class="card-post__author d-flex">
                        <a href="#" class="card-post__author-avatar card-post__author-avatar--small" style="background-image: url('{{ movie.Poster }}');">par "nom du real"</a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-fiord-blue" href="{{ url('the-film',{'id': movie.imdbID}) }}">{{ movie.Title }}</a>
                    </h5>
                    {#<p class="card-text d-inline-block mb-3">However venture pursuit he am mr cordial. Forming musical am hearing studied be luckily. But in for determine what would see...</p>#}
                    <span class="text-muted">ID: {{movie.imdbID }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


{% endblock %}


{% block nav_view %}

    {% include 'fromage/nav-view.html.twig' %}

{% endblock %}



