{% extends 'base.html.twig' %}

{# MAIN CONTENT #}
{% block body %}

    {#TITLE PAGE#}

    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Vue sur....</span>
            <h3 class="page-title">Page TheFilm</h3>
        </div>
    </div>

    <!-- End Page Header -->
{# Fiche THE FILM #}
<div class="card">
  <div class="card-image">
    <div class="image movie--bg-large" style="background-image:url('{{movie.Poster}}');">
        {# <img class="image is-4by3 movie--bg-large" src="{{ movie.Poster }}" alt=""> #}
        <h1 class="title is-4 movie--title-abs">{{ movie.Title }}</h1>
        <span class="subtitle is-6 movie--id"> Id : {{ movie.imdbID }}</span>
    </div>
  </div>

  <div class="card-content">

    <div class="media">

      <div class="media-left">
        <figure class="image is-48x48">
          <img src="{{ movie.Poster }}" alt="{{movie.Title}}">
        </figure>
      </div>

      <div class="media-content">

        <span class="subtitle is-6 movie--year">Année: {{ movie.Year }}</span>
        <span class="subtitle is-6 movie--real"> Réal : {{ movie.Director }}</span>
        

      </div>

    </div>

    <p class="content movie--plot">
        {{ movie.Plot }}
        <a href="{{movie.Website }}"></a>
    </p>


   {#  on check l'api de OMDB pour récupérer les ratings en bouclant dans le tableau Ratings : ratings.source ou ratings.value #}
    
    {% for rating in movie.Ratings %}
        
        <span class="movie--rating-source"> Note 1 : {{ rating.Source }}</span>
        <span class="movie--rating-value">Note 2 : {{ rating.Value }}</span>

    {% endfor %}

    <div class="debeug">

        <span class="movie--rating-source">{{ movie.imdbRating }}</span>

        <span class="movie--rating-value">{{ movie.Metascore }}</span>
</div>


  </div>
  

</div>

{% endblock %}

{% block nav_view %}

    {% include 'fromage/nav-view.html.twig' %}

{% endblock %}

